<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="css/main.css" type="text/css" rel="stylesheet">
    <title>Poll Application</title>
</head>
<body>
            <header>
                <h1>Poll Question</h1>
            </header>
            <main>
    <div class="container">
        <form class="query-card">
            <div id="question-div">
                <label id="query"></label>
            </div>
            <div id="response-div">
                <div id="response-list"></div>
            </div>
            <div id="controls-div">
                <button>Submit</button>
            </div>
        </form>
    </div>
    </main>
    <script src="scripts/main.js" onload="onLoad()"></script>
    <script src="scripts/home.js" onload="query()"></script>
</body>
</html>
