<html>

<head>
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        // Load the Visualization API and the piechart package.
        google.charts.load('current', { 'packages': ['corechart'] });

        // Set a callback to run when the Google Visualization API is loaded.

        async function drawChart() {
            const api_url = 'http://localhost:1000' + '/poll'
            const response = await fetch(api_url, {
                method: "GET"
            });
            const result = JSON.parse(await response.text());
            let json = [];
            for (r in result.responses) {
                json.push([r, result.responses[r].length]);
            }
            console.log(json);
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Response');
            data.addColumn('number', 'data');

            data.addRows(json);

            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
            chart.draw(data, {'title':"Your Results", 'width': 400, 'height': 240 });
        }

        google.charts.setOnLoadCallback(drawChart);

        //may set i to less than 40

    </script>
</head>

<body>
    <!--Div that will hold the pie chart-->
    <div id="chart_div"></div>
</body>

</html>