:root {
    --body-background-color: #0b0c10;
    --header-background-color: #1f2833;
    --header-h1-forground-color: white;
    --footer-background-color: #1f2833;
    --footer-h1-forground-color: white;
    --container-background-color: #c5c6c7;

    --question-div-background-color: #1f2833;
    --question-div-color: #66fcf1;
    --response-div-background-color: none;
    --response-list-div-background-color: #c5c6c7;
    --control-div-background-color: #1f2833;
    --control-button-backgroun-color: #66fcf1;

    --container-width: 640px;
    --container-height: 480px;

    --question-div-height: 15%;
    --response-div-height: 75%;
    --control-div-height: 10%;

    --font-family: ('Courier New', Courier, monospace);
}

.response {
    display: grid;

    grid-template-columns: 6fr 1fr;
}

.response h3 {
    font-size: 20px;

    grid-column: 1/2;
}

.response .response-control {
    grid-column: 2/3;
}

.response .response-control:hover {
    cursor: pointer;
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;

    background-color: var(--body-background-color);
}

header {
    min-height: 10%;

    background-color: var(--header-background-color);
}

header h1 {
    margin: 0;
    padding: 0;

    color: var(--header-h1-forground-color);

    font-family: var(--font-family);
    font-size: 60px;
    font-style: italic;
}

main {
    width: 100%;
    height: 100%;

    position: relative;
}

.container {
    width: var(--container-width);
    height: var(--container-height);

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translateX(-50%) translateY(-50%);    
    background-color: var(--container-background-color);
}

#question-div {
    width: 100%;
    min-height: var(--question-div-height);
    background-color: var(--question-div-background-color);

    display: grid;
    grid-template-columns: 1fr 6fr;
}

#question-div label{
    margin: 3px;
    grid-column: 1/2;

    font-size: 50px;
    color: var(--question-div-color);
}

#response-div {
    width: 100%;
    height: var(--response-div-height);
    background-color: var(--response-div-background-color);

    display: grid;
    grid-template-rows: 1fr 6fr;
}

#response-list {
    background-color: var(--response-list-div-background-color);

    grid-row: 2/3;
    overflow-y: scroll;

    margin: 3px;
}

#controls-div {
    width: 100%;
    height: var(--control-div-height);
    background-color: var(--control-div-background-color);

    display: grid;
    grid-template-columns: 6fr 1fr;
}

#controls-div button {
    float: right;

    grid-column: 2/3;
    background: var(--control-button-backgroun-color);
    font-weight: bold;
    font-family: var(--font-family);
    font-size: 20px;
    border: none;
}


footer {
    min-height: 10%;
    width: 100%;

    background-color: var(--footer-background-color);
    text-align: center;
}

footer * {
    color: var(--footer-h1-forground-color);
}

@media(max-width: 700px){
    .container {
        margin: auto;
        margin-top: 10%;
        width: 98%;
        height: 80%;

        position: unset;
        top: unset;
        left: unset;

        transform: unset;
    }

    #question-div {
        display: grid;
        grid-template-rows: 1fr 1fr;
        min-height: var(--question-div-height);
    }
    
    #question-div label{
        margin: 3px;
        grid-column: unset;
        grid-row: 1/2;
        
        font-size: 50px;
    }
    
    #response-div {
        width: 100%;
        min-height: var(--response-div-height);
        background-color: var(--response-div-background-color);
    
        display: grid;
        grid-template-rows: 1fr 6fr;
    }
    
    #response-list {
        background-color: var(--response-list-div-background-color);
    
        grid-row: 2/3;
        overflow-y: scroll;
    
        margin: 3px;
    }
    
    #controls-div {
        grid-template-columns: 1fr;
    }
    
    #controls-div button {
        float: none;
    
        grid-column: unset;
    }
}

/*HOME STYLING*/
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.container-home{
    background:rgb(88, 87, 87);
    height:100vh;
    width:100%;
    position:relative;
}
.query-card{
    background:rgb(241, 241, 241);
    height:480px;
    width:640px;
    border:none;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.query-card .label{
    width:100%;
    height:10%;
    float:left;
    text-align:center;
    padding:5px;
    background:rgb(173, 172, 172);
    font-family:'Arial',sans-serif;
}
.container-home .query-card form label{
    height:20%;
    width:100%;
    padding:10px;
}
.container-home .query-card form input[type=radio]:not(old){
    padding:10px;
}